#main {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto 20px auto 40px;
}

#platforms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#unlinkButton {
  margin-top: 40px;
}

.account {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.account h3 {
  margin-right: 20px;
}

.status {
  color: #d32f2f;
}

#home {
  margin-top: 40px;
}

/* General for all pages */
#terminal {
  display: grid;
}

#outerTerminalWindow {
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border-radius: 20px;
  margin: auto 20px auto 20px;
  height: 60vh;
  padding: 5px;
}

#innerTerminalWindow {
  background: rgb(5, 6, 45);
  border-radius: 17px;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  color: #abb2bf;
  font-family: "Consolas", "Courier New", monospace;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.success-message {
  color: #98c379;
}

.error-message {
  color: #e06c75;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e2efff;
}

#mainContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
}

.defaultButton {
  width: 100%;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
  padding: 10px 15px;
}

.defaultButton:hover {
  background-color: #0056b3;
}

.dangerButton {
  width: 100%;
  background-color: #d32f2f;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
  padding: 10px 15px;
}

.dangerButton:hover {
  background-color: #b71c1c;
}

.defaultButton:active,
.dangerButton:active {
  transform: scale(0.96);
}

#retryButton {
  display: none;
  width: 50%;
}

#home {
  display: none;
}

#loader {
  width: fit-content;
  padding-bottom: 5px;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  overflow: hidden;
  color: #0000;
  text-shadow: 0 0 0 #000, 10ch 0 0 #000;
  background: linear-gradient(#000 0 0) bottom left/0% 3px no-repeat;
  animation: loading 1.5s infinite;
}

#loader:before {
  content: "Loading...";
}

i {
  margin-right: 10px;
}

@keyframes loading {
  80% {
    text-shadow: 0 0 0 #000, 10ch 0 0 #000;
    background-size: 100% 3px;
  }

  100% {
    text-shadow: -10ch 0 0 #000, 0 0 0 #000;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
